<%= turbo_frame_tag dom_id(@person) do %>
  <div class="card-person">
    <% if @person.photo.attached? %>
      <%= link_to(cl_image_tag(@person.photo.key, class: 'avatar-mid'), edit_person_path(@person)) %>
    <% else %>
      <%= link_to(cl_image_tag("https://res.cloudinary.com/dxtj8yhxs/image/upload/v1614959650/Avatar-Grey-Account-User-Person-Operating-System-1699635_sgbdoo.png", crop: :thumb, gravity: :face, class: 'avatar-mid'), edit_person_path(person)) %>
    <% end %>
    <p><%= @person.firstname %></p>
    <p><%= @person.birthdate %></p>
  </div>
<% end %>
