<div class="card-address">
  <h3><%= @group.name %></h3>
  <p><%= @group.street %> <%= @group.number %></p>
  <p><%= @group.zip %> <%= @group.town %></p>
  <%#= link_to(edit_group_path(@group)) do  %>
    <i class="far fa-edit"></i>
  <%# end %>
</div>
