<div class="container">
  <h1>Alle Familien</h1>
  <div class="row">

    <div class="col-12 col-lg-8">
      <%= form_tag groups_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Familie suchen" %>
      <% end %>
    </div>

    <div class="groups col-12 col-lg-8">
      <div class="row">
        <%= turbo_stream_from "groups" %>
        <%= turbo_frame_tag "groups" do %>
            <%= render partial: 'groups/group', collection: @groups %>
        <% end %>
      </div>
    </div>

    <div class="card-white-large form col-lg-4">
      <h3>Neue Familie hinzufügen</h3>
      <%= render 'groups/group_form' %>
    </div>

  </div>
</div>

