<div class="container">
  <h1>Alle Familien</h1>
  <div class="row">
    <div class="col-12 col-lg-8">
      <%= form_tag groups_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Familie suchen"
      %>
      <% end %>
    </div>
    <div class="groups col-12 col-lg-8">
      <% @groups.each do |group| %>
      <div class="card-white-small">
        <div class="card-address">
          <h3><%= group.name %></h3>
          <p><%= group.street %> <%= group.number %></p>
          <p><%= group.zip %> <%= group.town %></p>
          <%= link_to(edit_group_path(group)) do  %>
            <i class="far fa-edit"></i>
            <% end %>

        </div>
        <div class="card-people">
        <% group.people.each do |person| %>
          <div class="card-person">
            <% if person.photo.attached? %>
                 <%= link_to(cl_image_tag(person.photo.key, class: 'avatar-mid'), edit_person_path(person)) %>
            <% else %>
                <%= link_to(cl_image_tag("https://res.cloudinary.com/dxtj8yhxs/image/upload/v1614959650/Avatar-Grey-Account-User-Person-Operating-System-1699635_sgbdoo.png", crop: :thumb, gravity: :face, class: 'avatar-mid'), edit_person_path(person)) %>
            <% end %>
            <p><%= link_to person.firstname, edit_person_path(person) %> </p>
          </div>
          <% end %>
        </div>
        <%= link_to "Person hinzufügen", new_group_person_path(group), class: "btn btn-success mt-2" %>
      </div>
      <% end %>
    </div>
    <div class="card-white-large form col-lg-4">
      <h3>Neue Familie hinzufügen</h3>
      <%= render 'group_form' %>
    </div>
  </div>
</div>

