<div class="container">
  <h1>Alle Familien</h1>
  <div class="row">

    <div class="col-12 col-lg-8">
      <%= form_tag groups_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Familie suchen" %>
      <% end %>
    </div>

    <div class="groups col-12 col-lg-8">
        <%= render partial: 'groups/group_address', collection: @groups, layout: 'box' %>
          <!-- <div class="card-white-small"> -->
          <!-- <div class="card-people">
            <%# group.people.each do |person| %>
              <#%= render 'people/people_avatars', person: person %>
            <%# end %>
          </div> -->
          <%= link_to "Person hinzufügen", new_group_person_path(group), class: "btn btn-success mt-2" %>
        <!-- </div> -->
      <%# end %>
    </div>

    <div class="card-white-large form col-lg-4">
      <h3>Neue Familie hinzufügen</h3>
      <%= render 'groups/group_form' %>
    </div>

  </div>
</div>

