<div class="container">
  <h1>People#index</h1>
  <%= form_tag groups_path, method: :get, remote: true do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Familie suchen"
  %>
  <% end %>
  <div class="row">
    <div class="groups col-12 col-lg-8">
      <% @groups.each do |group| %>
      <div class="card-family">
      <h3><%= group.name %></h3>
        <div>
        <% group.people.each do |person| %>
          <div class="card-person">
            <%= image_tag 'george.jpeg', class: 'avatar' %>
            <p><%= person.firstname %> </p>
          </div>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="form col-lg-4">
      <%= render 'group_form' %>
    </div>
  </div>
</div>

