<div class="container">
  <%= simple_form_for @group do |f| %>
  <%= f.input :name, label: 'Familienname' %>
  <%= f.input :street, label: 'Straße' %>
  <%= f.input :number, label: 'Hausnummer' %>
  <%= f.input :zip, label: 'Postleitzahl' %>
  <%= f.input :town, label: 'Stadt' %>
  <%= f.input :country, priority: [ "Switzerland" , "Germany" ], locale: 'de', label: 'Land' %>
  <%= f.input :language, label: 'Muttersprache', input: 'Deutsch' %>
  <%= f.button :submit %>
  <% end %>
</div>
