<%= turbo_frame_tag dom_id(@group) do %>
  <h3><%= @group.name %></h3>
    <div class="d-flex justify-content-center">
    <%= link_to "Info", group_path(@group), class: "btn btn-lg btn-primary active" %>
    <%= link_to group_people_path(@group) do %>
      <button class="btn btn-lg btn-primary">
        <%= @group.people.size %> <i class="fas fa-users"></i>
      </button>
    </div>
    <% end %>

    <div class="card-address mt-3">
      <p><%= @group.street %> <%= @group.number %></p>
      <p><%= @group.zip %> <%= @group.town %></p>
      <%= link_to(edit_group_path(@group)) do  %>
        <i class="far fa-edit"></i>
      <% end %>
    </div>
<% end %>
