<div class="container">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <a href="#" class='button-trk'>Click me!</a>
  <div class="card-family">
    <h3>Washington</h3>
    <div>

      <div class="card-person">
        <%= image_tag 'george.jpeg', class: 'avatar' %>
        <p>George</p>
      </div>

      <div class="card-person">
        <%= image_tag 'george.jpeg', class: 'avatar' %>
        <p>Tim</p>
      </div>

      <div class="card-person">
        <%= image_tag 'george.jpeg', class: 'avatar' %>
        <p>Lukas</p>
      </div>

    </div>
  </div>

  <div class="card-family">
    <h3>Doe</h3>
    <div>


      <div class="card-person">
        <%= image_tag 'george.jpeg', class: 'avatar' %>
        <p>Lukas</p>
      </div>

    </div>
  </div>

  <div class="card-family">
    <h3>Halalalallaua</h3>
    <div>

      <div class="card-person">
        <%= image_tag 'george.jpeg', class: 'avatar' %>
        <p>George</p>
      </div>

      <div class="card-person">
        <%= image_tag 'george.jpeg', class: 'avatar' %>
        <p>Tim</p>
      </div>

      <div class="card-person">
        <%= image_tag 'george.jpeg', class: 'avatar' %>
        <p>Lukas</p>
      </div>

      <div class="card-person">
        <%= image_tag 'george.jpeg', class: 'avatar' %>
        <p>Larissa</p>
      </div>

      <div class="card-person">
        <%= image_tag 'george.jpeg', class: 'avatar' %>
        <p>Tamina</p>
      </div>

    </div>
  </div>

</div>
